@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MembersPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}

<section class="wrapper style1">
    <div class="row gtr-200">
        <div class="container">
            <h2>If you see this page you are logged and belonging to PlayersGroup</h2>
        </div>
    </div>
</section>