@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Page404>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

 <section class="wrapper style1">
    <div class="row gtr-200">
        <div class="container">
            <h2>The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.</h2>            
        </div>
    </div>
</section>